@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* font-family: 'Roboto', sans-serif; */

/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* HEADER STYLES */
header nav {
    margin: 5vh 0 0 4vw;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #659d89;
    font-size: 1.6rem;
}

header nav ul li a:hover {
    color: #215d48;
}

/* MAIN STYLES */
main section:first-of-type {
    width: 90vw;
    display: inline-block;
}

main section:first-of-type h1 {
    color: #659d89;
    font-size: 5rem;
    margin: 27.5vh 0 0 4vw;
}

main section:first-of-type h2 {
    color: #333;
    font-size: 5rem;
    margin-left: 4vw;
    margin-right: 30vw;
}

main section:first-of-type>a {
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    display: block;
    margin: 27.5vh 0 7vh 4vw;
}

main section:first-of-type>a:before {
    content: '\25BC';
    color: #333;
    font-size: 1.6rem;
    padding-right: 10px;
}

main section:first-of-type>a:hover,
main section:first-of-type>a:hover:before {
    color: rgb(152, 150, 150);
}

main aside {
    width: 5vw;
    display: inline-block;
}

main aside a {
    display: block;
    padding-top: 10px;
}

main aside a img {
    width: 2vw;
    height: auto;
}

main aside a:nth-of-type(3) img {
    padding-bottom: 10vh;
}

main section:nth-of-type(2),
main section:nth-of-type(3) {
    border-top: 1px solid #ccc;
}

main section:nth-of-type(2) h3,
main section:nth-of-type(3) h3 {
    color: #333;
    font-size: 2.4rem;
    margin: 7vh 0 0 4vw;
}

main section:nth-of-type(2) p {
    color: #333;
    font-size: 1.6rem;
    margin-left: 4vw;
    padding-top: 3vh;
}

main section:nth-of-type(2) article {
    text-align: center;
    margin: 10vh 0;
}

main section:nth-of-type(2) article a img:hover {
    box-shadow: 0px 4px 8px 4px #ccc;
}

main section:nth-of-type(2) article a img {
    display: inline-block;
    width: 20vw;
    height: auto;
    margin: 10vh 3vw 0 3vw;
}

main section:nth-of-type(3) article {
    text-align: center;
    margin-bottom: 15vh;
}

main section:nth-of-type(3) article:first-of-type {
    margin-top: 10vh;
}

main section:nth-of-type(3) article a img {
    width: 50vw;
    height: auto;
}

main section:nth-of-type(3) article a img:hover {
    box-shadow: 0px 4px 8px 4px #ccc;
}

main section:nth-of-type(3) article:nth-of-type(odd) {
    margin-right: 30vw;
}

main section:nth-of-type(3) article:nth-of-type(even) {
    margin-left: 30vw;
}

main section:nth-of-type(3) article a:nth-of-type(2) {
    display: block;
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-size: 1.0rem;
    padding-top: 2vh;
    letter-spacing: 1px;
}

main section:nth-of-type(3) article a:nth-of-type(2):hover {
    color: #659d89;
}

main section:nth-of-type(3) article p:first-of-type {
    color: #333;
    font-size: 1.5rem;
    padding-top: 2vh;
}

main section:nth-of-type(3) article p:last-of-type {
    color: #666;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 2vh;
}

/* FOOTER STYLES */

footer {
    border-top: 1px solid #ccc;
}

footer a {
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    display: block;
    text-align: center;
    margin: 10vh 0;
}

footer a:before {
    content: '\25B2';
    color: #333;
    font-size: 1.6rem;
    padding-right: 10px;
}

footer p {
    text-align: center;
    font-size: 1rem;
}